USE [master]
GO
/****** Object:  Database [PRJ301_SE1625]    Script Date: 9/8/2022 6:29:53 PM ******/
CREATE DATABASE [PRJ301_SE1625]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRJ301_SE1625', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PRJ301_SE1625.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRJ301_SE1625_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PRJ301_SE1625_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRJ301_SE1625].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRJ301_SE1625]
GO
/****** Object:  Table [dbo].[Address_HE163356]    Script Date: 9/8/2022 6:29:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address_HE163356](
	[Tinh] [nvarchar](200) NULL,
	[Huyen] [nvarchar](200) NULL,
	[Xa] [nvarchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins_HE163356]    Script Date: 9/8/2022 6:29:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins_HE163356](
	[id] [int] NOT NULL,
	[name] [nvarchar](100) NULL,
	[role_id] [int] NULL,
	[logname] [varchar](100) NULL,
	[password] [varchar](100) NULL,
	[email] [varchar](100) NULL,
	[phone] [char](10) NULL,
	[address] [nvarchar](100) NULL,
	[active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories_HE163356]    Script Date: 9/8/2022 6:29:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories_HE163356](
	[id] [int] NOT NULL,
	[name] [nvarchar](100) NULL,
	[parent_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders_HE163356]    Script Date: 9/8/2022 6:29:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders_HE163356](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[transaction_id] [int] NULL,
	[product_id] [int] NULL,
	[quantity] [int] NULL,
	[price] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products_HE163356]    Script Date: 9/8/2022 6:29:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products_HE163356](
	[id] [int] NOT NULL,
	[name] [nvarchar](100) NULL,
	[cate_id] [int] NULL,
	[price] [int] NULL,
	[entry_price] [int] NULL,
	[quantity] [int] NULL,
	[discount] [int] NULL,
	[description] [ntext] NULL,
	[active] [bit] NULL,
	[buy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quantity_HE163356]    Script Date: 9/8/2022 6:29:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quantity_HE163356](
	[pro_id] [int] NULL,
	[size] [char](1) NULL,
	[color] [nvarchar](20) NULL,
	[quantity] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles_HE163356]    Script Date: 9/8/2022 6:29:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles_HE163356](
	[id] [int] NOT NULL,
	[name] [nvarchar](100) NULL,
	[description] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status_HE163356]    Script Date: 9/8/2022 6:29:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status_HE163356](
	[id] [nvarchar](50) NOT NULL,
	[name] [nvarchar](100) NULL,
 CONSTRAINT [PK_Status_HE163356] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions_HE163356]    Script Date: 9/8/2022 6:29:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions_HE163356](
	[id] [int] NOT NULL,
	[user_id] [int] NULL,
	[total] [int] NULL,
	[note] [varchar](100) NULL,
	[address] [nvarchar](100) NULL,
	[phone] [char](10) NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
	[update_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users_HE163356]    Script Date: 9/8/2022 6:29:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users_HE163356](
	[id] [int] NOT NULL,
	[name] [nvarchar](100) NULL,
	[logname] [varchar](100) NULL,
	[password] [varchar](100) NULL,
	[email] [varchar](100) NULL,
	[phone] [char](10) NULL,
	[address] [nvarchar](100) NULL,
	[active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Admins_HE163356]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles_HE163356] ([id])
GO
ALTER TABLE [dbo].[Orders_HE163356]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Products_HE163356] ([id])
GO
ALTER TABLE [dbo].[Orders_HE163356]  WITH CHECK ADD FOREIGN KEY([transaction_id])
REFERENCES [dbo].[Transactions_HE163356] ([id])
GO
ALTER TABLE [dbo].[Products_HE163356]  WITH CHECK ADD FOREIGN KEY([cate_id])
REFERENCES [dbo].[Categories_HE163356] ([id])
GO
ALTER TABLE [dbo].[Quantity_HE163356]  WITH CHECK ADD FOREIGN KEY([pro_id])
REFERENCES [dbo].[Products_HE163356] ([id])
GO
ALTER TABLE [dbo].[Transactions_HE163356]  WITH CHECK ADD FOREIGN KEY([status])
REFERENCES [dbo].[Status_HE163356] ([id])
GO
ALTER TABLE [dbo].[Transactions_HE163356]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users_HE163356] ([id])
GO
USE [master]
GO
